body{
    overflow: hidden;
    background-image:url(./background.jpg);
}

.main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: cursive;
}
 
h1{
    text-transform: capitalize;
    text-align: center;
    color: rgb(182, 157, 131);
    padding-top: 20%;
    white-space: nowrap;
}
input{
    background: rgb(140, 118, 89);
    margin-left: 20%;
}

h3{
    color: rgb(182, 157, 131);
    margin-left: 20%;
}
h5{
    color: rgb(182, 157, 131);
}
button{
    margin: 20px;
    margin-left: 20%;
    color: rgb(20, 19, 17);
    background: rgb(140, 118, 89);
}
#incorrect{
    color: rgb(255, 255, 21);
    text-transform: capitalize;
    font-size:x-small;
}

@media only screen and (min-width: 2560px) {
    h1{
        font-size: 45px;
        margin: 75px;

    }
    input,button,h3{
        font-size: 30px;
    }
    #incorrect{
        font-size: medium;
    }
}
